.events {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color: $primary-color;
    text-align: center;
  
    .events-title h2 {
      font-size: 2rem;
      color: $secondary-color;
      margin: 0;
    }
  
    .events-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      justify-items: center;
    }
  
    .event-card {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 250px;
      padding: 10px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;  

    &:hover {
      transform: scale(1.05);  
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);  
    }
  
      img {
        width: 100%;
        height: 230px;
        margin-bottom: 10px;
      }
  
      .event-details h3 {
        font-size: 18px;
        margin: 10px 0;
      }
  
      .event-details p {
        margin: 5px 0;
      }
    }
  }